<form action="" id="fomularioagendamiento">
    <div class="contenedor2agendamiento">
        <div class="formularioagendamiento">
            <img class="logo2agendamiento" src="../../views/img/unnamed.png" alt="">
            <div class="tituloagendamiento">Agendar Nuevo Servicio</div><br>
            <div class="contenedoragendamiento">
                <div class="columna1agendamiento">
                    <p class="textoagendamiento">Nombre del Cliente</p>
                    <input class="inputagendamiento" type="text" id="nombre" placeholder="Nombre del Cliente">
                    <p class="textoagendamiento">Telefono del cliente</p>
                    <input class="inputagendamiento" type="text" id="telefono" placeholder="Telefono del Cliente">
                    <p class="textoagendamiento">Fecha</p>
                    <input class="inputagendamiento" type="date" id="fecha" placeholder="Fecha">
                </div>

                <div class="columna2agendamiento">
                    <p class="textoagendamiento">Dirección de la solicitud</p>
                    <input class="inputagendamiento" type="text" id="direccion"
                        placeholder="Dirección de la Solicitud"><i class="bx bx-building-house"
                        style="padding: 5px;"></i>
                    <p class="textoagendamiento">Tipo de Servicio </p>
                    <input class="inputagendamiento" type="text" id="servicio" placeholder="Tipo de Servicio"><i
                        class="bx bx-briefcase-alt-2" style="padding: 5px;"></i>
                    <p class="textoagendamiento">Precio del Servicio</p>
                    <input class="inputagendamiento" type="text" id="precio" placeholder="Precio del Servicio"><br>
                </div>
            </div>
            <br> <input type="submit" class="botonagendamiento"></input><br>
        </div>
    </div>
</form>