<div class="contenedor_registrar_roles">
        <form action="">
            <img src="../public/assets/img/unnamed.png" alt="">
            <br><br>
            <h3>Registrar roles</h3><br>
            <div class="inputs">
                <ul>
                    <label>Nombre rol</label><br>
                    <input type="text" id="nombre" placeholder="Nombres"><br>
                </ul>
                <br><br>
                <ul>
                    <label>Fecha de creación</label><br>
                    <input type="date"><br>
                </ul>
            </div>
            <h4>Permisos</h4>
            <div class="permisos_registrar_roles">
                <div class="fila1">
                    <p><img src="../../views/icons/switch.png" alt="" class="icon_permisos">Roles</p>
                    <p><img src="../../views/icons/switch (1).png" alt="" class="icon_permisos">Empleados</p>
                    <p><img src="../../views/icons/switch.png" alt="" class="icon_permisos">Novedades</p>
                    <p><img src="../../views/icons/switch.png" alt="" class="icon_permisos">Herramientas e insumos</p>
                </div>
                <div class="fila2">
                    <p><img src="../../views/icons/switch.png" alt="" class="icon_permisos">Movimientos</p>
                    <p><img src="../../views/icons/switch (1).png" alt="" class="icon_permisos">Prestamos</p>
                    <p><img src="../../views/icons/switch.png" alt="" class="icon_permisos">Servicios</p>
                    <p><img src="../../views/icons/switch (1).png" alt="" class="icon_permisos">Agendamiento</p>
                </div>
            </div>

            <button type="button" id="btnRegistrarUsuario" class="btnRegistrarUsuario">Registrar</button>
            <a href="../tablas/listarUsuarios.html"> <button type="button" class="btnCancelar">Cancelar</button></a>
        </form><br>
        <p id="respuestaa"></p>
    </div>