<center class="caja_listar_novedad">

    <img src="../../assets/img/logo.png" alt="">
    <h1 class="titulo_listar_novedad">Mis novedades</h1>
    <table border="1px" color="gray" class="tabla_listar_novedad">
        <tr class="tr_lista_titulo_listar_novedad">
            <td class="td_lista_listar_novedad">Fecha</td>
            <td class="td_lista_listar_novedad">Petición</td>
            <td class="td_lista_listar_novedad">Descripción</td>
            <td class="td_lista_listar_novedad">Desde el dia</td>
            <td class="td_lista_listar_novedad">Hasta el dia</td>
            <td class="td_lista_listar_novedad">Desde la hora</td>
            <td class="td_lista_listar_novedad">Hasta la hora</td>
            <td class="td_lista_listar_novedad">Estado</td>
            <td class="td_lista_listar_novedad">Operaciones</td>
        </tr>
        <tr class="tr_lista_listar_novedad">
            <td class="td_lista_listar_novedad">24/5/2022: 23:21</td>
            <td class="td_lista_listar_novedad">Dia libre</td>
            <td class="td_lista_listar_novedad">Me dio gripa</td>
            <td class="td_lista_listar_novedad">12/4/2022</td>
            <td class="td_lista_listar_novedad">13/4/2022</td>
            <td class="td_lista_listar_novedad">No</td>
            <td class="td_lista_listar_novedad">No</td>
            <td class="td_lista_listar_novedad">Aceptado</td>
            <td class="td_lista_listar_novedad">
                <center><img
                        src="https://images.moqups.com/repo/zqx90pTp7HoE3pi2AHKhBMVKdzg0W9cn/p_Yp9sCWbUILsyqRwAmjcJRh0lXWRpKXwo/BZcMaiHevG4I9vr3fpFjTdHesUavTiNV.png?Expires=1668362186&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=jJx-jZWRM~lbvoL0ZbGcWXpIxPwvVftZ3N0By~GU5i8tb4CHWXk4UhhkQBCBXeu-zxXibrRzwj4OZ0IGBdQMG1apY6AJ8SU5BLESaEwcyOdixugrRzAZC6YSxuWHhNO8LJ6fuYX-Wq8jJZKQ0ZYsjT4EjcpDMrA0LgTIZS~w7CXF8Hc~8w4HE6XCj5XPtAyryJZ0ZRjNdJgT88eFcP34Wj6HDlDFh7jvxVGiRNVi1CCpW8OXsaqFsTudlqd6oNIfL292EgbgHGOuNcyfl8Yyrbb4yzVGeT62YI--XEjUuV~EbcJZIw7Zz3vm4CpDqaXRlyoiMgAviLXr3agohlKvlg__"
                        class="icono_lista_listar_novedad" alt="">&nbsp;&nbsp;<img
                        src="https://images.moqups.com/repo/zqx90pTp7HoE3pi2AHKhBMVKdzg0W9cn/p_Yp9sCWbUILsyqRwAmjcJRh0lXWRpKXwo/xt6DbtWxjtqWnmS4PNBTc73LN2yRFVf4.png?Expires=1668362186&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=Glv2dyVjgTy9vpYH58RkBCAPagwyApFim5xiZZzBI74nU4bnR5KR~TmKygA1IgHkXtvCQscqJxzWqdsTF-ZpBAKn0yI5RvMwOq7m-LRoDDZDXmuHeZFQjdg2Rx5L05iUr9WlkNxm1Kh1ZS6skNJa8aD0Cksc2doZBuoTZtQ85JC2JapTI~krLe6uwbYzmaUkhtVXIN1LwfFJtSZAVbvpKffHxdiHrCHImfOgJZBIVE2k9c4SVYHWPabR9jhhtF4QurH52tXCujDjCrZjRjXL6LzBsl3BEKGP68qGNqsHJL4NjvzJeyavOF63UrWskD-3kR0OPQL5MDmuW9afrYK63Q__"
                        class="icono_lista_listar_novedad" alt=""></center>
            </td>
        </tr>
    </table>
</center>