<main class="tabla_servicios">
        <div class="contenedor_servicios">
<center>
            <h2 class="titulo_master">Lista de Servicios</h2>
            <br>
            <form action="">
                <table class="tabla">
                        <tr class="fila_servicios">
                            <th class="encabezado_servicios">Nombre</th class="encabezado_servicios">
                           <th class="encabezado_servicios">  Estado</th class="encabezado_servicios">
                            <th class="encabezado_servicios">Operación</th class="encabezado_servicios">
                        </tr>
                        <tr class="fila_servicios">
                            <td>UltraWifi</td>
            
                 
                            <td><a href=""><img src="../../views/icons/inact.png.jpg"></td>
                            <td><a href=""><img src="../../views/icons/mod.jpg"><img src="../../views/icons/eliminar.jpg"></td>
                        </tr>
                        <tr class="fila_servicios">
                            <td>Hogar 50 MB + Deco.</td>
                 
                            <td><a href=""><img src="../../views/icons/act.png.jpg"></td>
                            <td><a href=""><img src="../../views/icons/mod.jpg"><img src="../../views/icons/eliminar.jpg"></td>
                        </tr>
                        <tr class="fila_servicios">
                            <td>Hogar 30 MB</td>
                  
                            <td><a href=""><img src="../../views/icons/act.png.jpg"></td>
                            <td><a href=""><img src="../../views/icons/mod.jpg"><img src="../../views/icons/eliminar.jpg"></td>
                        </tr>
                        <tr class="fila_servicios">
                            <td>Reparación de decodificador</td>
 
                            <td><a href=""><img src="../../views/icons/act.png.jpg"></td>
                            <td><a href=""><img src="../../views/icons/mod.jpg"><img src="../../views/icons/eliminar.jpg"></td>
                        </tr>
                        <tr class="fila_servicios">
                            <td>Decodificador adicional</td>
 
                            <td><a href=""><img src="../../views/icons/act.png.jpg"></td>
                            <td><a href=""><img src="../../views/icons/mod.jpg"><img src="../../views/icons/eliminar.jpg"></td>
                        </tr>
                </table>
            </form>
            </center>
        </div>
    </main>