<div class="contenedor_listar_usuarios">
    <h1>Listar usuarios</h1>
    <a href="../tablas/registrarUsuario.html"><button type="button" class="registrarUsuario">Añadir usuario</button></a>
    <div class="contenedor_listarUsuarios">
        <table>
            <tr class="encabezado_tabla">
                <td>ID</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Tipo de documento</td>
                <td>Documento</td>
                <td>Telefono</td>
                <td>Correo</td>
                <td>Contraseña</td>
                <td>Rol</td>
                <td>Estado</td>
                <td>Operaciones</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Yenny</td>
                <td>Durango</td>
                <td>T.I</td>
                <td>1035</td>
                <td>310</td>
                <td>yenny@gmail.com</td>
                <td>*******</td>
                <td>Administrador</td>
                <td color="green">Activo</td>
                <td class="operaciones"><a href="../tablas/modificarRoles.html"><img
                            src="../../views/icons/editar.png" alt=""></a> <img
                        src="../../views/icons/bandeja-de-entrada.png" alt=""></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Yenny</td>
                <td>Durango</td>
                <td>T.I</td>
                <td>1035</td>
                <td>310</td>
                <td>yenny@gmail.com</td>
                <td>*******</td>
                <td>Administrador</td>
                <td color="green">Activo</td>
                <td class="operaciones"><a href="../tablas/modificarRoles.html"><img
                            src="../../views/icons/editar.png" alt=""></a> <img
                        src="../../views/icons/bandeja-de-entrada.png" alt=""></td>
            </tr>

        </table>
    </div>
</div>