    <div class="contenedortrabajo">
        <div class="contenedortrabajo3"> 
            <img src="../../assets/img/logo.png" alt="" class="logotrabajo">
        </div>
        <div class="titulotrabajo">Trabajo Pendiente</div>
        <div class="contenedortrabajo2"> 
            <table class="tabletrabajo">
                <tr>
                <th>Nombre del <br> Empleado</th>
                <th>Nombre del <br> cliente</th>
                <th>Tipo de Servicio</th>
                <th>Lugar del Servicio</th>
                <th>Telefono</th>
                <th>Fecha/Hora</th>
                <th>Insumos</th>
                <th>Cantidad</th>
                <th>Estado</th>
                </tr>
                <tr>
                    <td>Juan Villa</td>
                    <td>Juan cudri</td>
                    <td>Incremento de MB</td>
                    <td>Barbosa</td>
                    <td>3173139488</td>
                    <td>02-07-2023/2:00 pm</td>
                    <td>Cable <br> tornillos <br> </td>
                    <td>1 caja <br> 1 caja</td>
                    <td><button type="button" class="botontrabajo">Pendiente</button></td>
                </tr>
                <tr>
                    <td>David</td>
                    <td>Juan cudri</td>
                    <td>Internet 30 MB</td>
                    <td>Medellin</td>
                    <td>3232101962</td>
                    <td>02-08-2023/2:00 pm</td>
                    <td>Cable <br> tornillos <br> </td>
                    <td>1 caja <br> 1 caja</td>
                    <td><button type="button" class="botontrabajo">Pendiente</button></td>
                </tr>
                <tr>
                    <td>Jhonatan</td>
                    <td>Juan cudri</td>
                    <td>Desconexión</td>
                    <td>Sabaneta</td>
                    <td>3116062340</td>
                    <td>02-09-2023/2:00 pm</td>
                    <td>Cable <br> tornillos <br> </td>
                    <td>1 caja <br> 1 caja</td>
                    <td><button type="button" class="botontrabajore">Realizado</button></td>
                </tr>
                <tr>
                    <td>Pedro</td>
                    <td>Juan cudri</td>
                    <td>Rompemuros</td>
                    <td>Belen</td>
                    <td>3117998847</td>
                    <td>02-10-2023/2:00 pm</td>
                    <td>Cable <br> tornillos <br> </td>
                    <td>1 caja <br> 1 caja</td>
                    <td><button type="button" class="botontrabajore">Realizado</button></td>
                </tr>
            </table>
        </div>

    </div>
