<div class="contenedor_listar_solicitudes">

    <img src="../views/unnamed.png" alt="" class="logo_listar_solicitudes">
    <p class="p_listar_solicitudes">Listado de solicitudes</p>

    <table class="table_listar_solicitudes">

        <tr>

            <th class="th_listar_solicitudes">Nombre del empleado</th>

            <th class="th_listar_solicitudes">Herramienta</th>

            <th class="th_listar_solicitudes">Cantidad</th>

            <th class="th_listar_solicitudes">Opción</th>

        </tr>

        <tr>

            <td class="td_listar_solicitudes">Jhonatan David Castro Muñoz</td>

            <td class="td_listar_solicitudes">Ponchadora</td>

            <td class="td_listar_solicitudes"><input class="input_listar_solicitudes" type="number" value="10"></td>

            <td class="td_listar_solicitudes"><button
                    class="btn_no_asignar_listar_solicitudes">Rechazar</button><button
                    class="btn_asignar_listar_solicitudes">Aceptar</button></td>

        </tr>

        <tr>

            <td class="td_listar_solicitudes">David Felipe Diosa Lora</td>

            <td class="td_listar_solicitudes">Ponchadora</td>

            <td class="td_listar_solicitudes"><input class="input_listar_solicitudes" type="number" value="10"></td>

            <td class="td_listar_solicitudes"><button
                    class="btn_no_asignar_listar_solicitudes">Rechazar</button><button
                    class="btn_asignar_listar_solicitudes">Aceptar</button>
            </td>

        </tr>

    </table>
</div>