{{> header}}
<div class="header"></div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
	<div class="spinner diagonal part-1"></div>
	<div class="spinner horizontal"></div>
	<div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu">
	<div class="padre">

		<div class="sidebar">
			<img src="../views/unnamed.png" alt="" class="logo_maxi">
			<br><br>
			<div class="user">
				<div class="cont_u">
					<img href="#" onclick='cambio(`{{> juego1}}`)' src="../views/icons/hombre.png"
						class="user_img"><br><br>
				</div>
				<div class="cont_n">
					<label for="" class="nombre">Juan Pablo Franco</label>
					<label for="">Administrador</label><br>
				</div>
			</div><br>
			<ul class="list">

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="../views/icons/dashboard-icon.png" class="list__img">
						<a href="#" class="nav__link">Roles</a>
						<img src="../views/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a href="#" class="nav__link nav__link--inside"
								onclick='cambio(`{{> listar_roles}}`)'>Listar roles</a>
						</li>

						<li class="list__inside">
							<a href="#" class="nav__link nav__link--inside" onclick='cambio(`{{> anadir_rol}}`)'>Añadir
								roles</a>
						</li>

						<li class="list__inside">
							<a href="#" class="nav__link nav__link--inside"
								onclick='cambio(`{{> modificar_roles}}`)'>Modificar roles</a>
						</li>
					</ul>
				</li>


				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="../views/icons/empleados-icon.png" class="list__img">
						<a href="#" class="nav__link">Empleados</a>
						<img src="../views/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a href="#" class="nav__link nav__link--inside"
								onclick='cambio(`{{> listar_usuarios}}`)'>Listar
								empleados</a>
						</li>

						<li class="list__inside">
							<a href="#" class="nav__link nav__link--inside"
								onclick='cambio(`{{> registrar_usuarios}}`)'>Registrar
								empleados</a>
						</li>

						<li class="list__inside">
							<a href="#" class="nav__link nav__link--inside"
								onclick='cambio(`{{> modificar_usuarios}}`)'>Modificar
								empleados</a>
						</li>
					</ul>
				</li>


				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="../views/icons/novedades-icon.png" class="list__img">
						<a href="#" class="nav__link">Novedades</a>
						<img src="../views/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a href="#" class="nav__link nav__link--inside"
								onclick='cambio(`{{> listar_novedad}}`)'>Listar
								novedades</a>
						</li>
					</ul>
				</li>


				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="../views/assets/bell.svg" class="list__img">
						<a href="#" class="nav__link">Herramientas e insumos</a>
						<img src="../views/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a href="#" class="nav__link nav__link--inside"
								onclick='cambio(`{{> master_herramientas}}`)'>Listar
								herramientas e nsumos</a>
						</li>

						<li class="list__inside">
							<a href="#" class="nav__link nav__link--inside"
								onclick='cambio(`{{> registrar_herramienta}}`)'>Registrar
								herramienta e insumo</a>
						</li>

						<li class="list__inside">
							<a href="#" class="nav__link nav__link--inside"
								onclick='cambio(`{{> modificar_herramientas}}`)'>Modificar
								herramientas e insumos</a>
						</li>
					</ul>

				</li>

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="../views/assets/docs.svg" class="list__img">
						<a href="#" class="nav__link">Prestamos</a>
						<img src="../views/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a href="#" onclick='cambio(`{{> asignar_herramienta}}`)'
								class="nav__link nav__link--inside">Asignar herramientas</a>
						</li>

						<li class="list__inside">
							<a href="#" onclick='cambio(`{{> listado_prestamos}}`)'
								class="nav__link nav__link--inside">listado de prestamos</a>
						</li>

						<li class="list__inside">
							<a href="#" onclick='cambio(`{{> solicitud_prestamo}}`)'
								class="nav__link nav__link--inside">Solicitudes de prestamos</a>
						</li>
					</ul>
				</li>


				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="../views/assets/docs.svg" class="list__img">
						<a href="#" class="nav__link">Servicios</a>
						<img src="../views/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a href="#" onclick='cambio(`{{> listar_servicios}}`)'
								class="nav__link nav__link--inside">Listar servicios</a>
						</li>

						<li class="list__inside">
							<a href="#" onclick='cambio(`{{> registrar_servicio}}`)'
								class="nav__link nav__link--inside">Registrar servicio</a>
						</li>
					</ul>
				</li>


				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="../views/assets/bell.svg" class="list__img">
						<a href="#" class="nav__link">Agendamiento</a>
						<img src="../views/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a href="#" onclick='cambio(`{{> listar_agendamiento_admin}}`)'
								class="nav__link nav__link--inside">Lista de agendamientas</a>
						</li>

						<li class="list__inside">
							<a href="#" onclick='cambio(`{{> agendar_servicio}}`)'
								class="nav__link nav__link--inside">Agendar servicio</a>
						</li>
					</ul>

				</li>

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="../views/assets/bell.svg" class="list__img">
						<a href="#" class="nav__link">Opciones</a>
						<img src="../views/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a href="/" class="nav__link nav__link--inside">Cerrar sesion</a>
						</li>
					</ul>

				</li>

			</ul>
		</div>
	</div>

	<div class="content-wrapper" id="main-content">
		<section class="content">
			<div id="qCarga" class="container-fluid">
				<div id="hola" class="body-text">

				</div>
			</div>
		</section>
	</div>
</div>
{{> footer }}