{{> header}}
<div class="header"></div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
	<div class="spinner diagonal part-1"></div>
	<div class="spinner horizontal"></div>
	<div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu">
	<div class="padre">

		<div class="sidebar">
			<img src="../views/unnamed.png" alt="" class="logo_maxi">
			<br><br>
			<div class="user">
				<div class="cont_u">
					<img href="#" onclick='cambio(`{{> juego1}}`)' src="../views/icons/hombre.png"
						class="user_img"><br><br>
				</div>
				<div class="cont_n">
					<label for="" class="nombre">Juan Pablo Franco</label>
					<label for="">Empleado</label><br>
				</div>
			</div><br>
			<ul class="list">

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="../views/icons/novedades-icon.png" class="list__img">
						<a href="#" class="nav__link">Novedades</a>
						<img src="../views/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a href="#" class="nav__link nav__link--inside"
								onclick='cambio(`{{> listar_novedad_empleado}}`)'>Listar
								novedades</a>
						</li>
						<li class="list__inside">
							<a href="#" class="nav__link nav__link--inside"
								onclick='cambio(`{{> anadir_novedad}}`)'>Solicitar
								novedad</a>
						</li>

					</ul>
				</li>

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="../views/assets/docs.svg" class="list__img">
						<a href="#" class="nav__link">Prestamos</a>
						<img src="../views/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a href="#" onclick='cambio(`{{> listado_prestamos_empleado}}`)'
								class="nav__link nav__link--inside">Listar herramientas prestadas</a>
						</li>

						<li class="list__inside">
							<a href="#" onclick='cambio(`{{> solicitar_herramienta}}`)'
								class="nav__link nav__link--inside">Solicitar prestamo de herramientas</a>
						</li>

					</ul>
				</li>

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="../views/assets/bell.svg" class="list__img">
						<a href="#" class="nav__link">Agendamiento</a>
						<img src="../views/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a href="#" onclick='cambio(`{{> listar_agendamiento_empleado}}`)'
								class="nav__link nav__link--inside">Lista de agendamientos</a>
						</li>
					</ul>

				</li>

				<li class="list__item list__item--click">
					<div class="list__button list__button--click">
						<img src="../views/assets/bell.svg" class="list__img">
						<a href="#" class="nav__link">Opciones</a>
						<img src="../views/assets/arrow.svg" class="list__arrow">
					</div>

					<ul class="list__show">
						<li class="list__inside">
							<a href="/" class="nav__link nav__link--inside">Cerrar sesion</a>
						</li>
					</ul>

				</li>

			</ul>
		</div>
	</div>

	<div class="content-wrapper" id="main-content">
		<section class="content">
			<div id="qCarga" class="container-fluid">
				<div id="hola" class="body-text">

				</div>
			</div>
		</section>
	</div>
</div>
{{> footer }}