<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="shortcut icon" href="../views/img/unnamed.png" />
</head>

<body><br><br><br><br>
    <div class="contenedor_login">
        <form action="" method="post">
            <img src="../views/img/unnamed.png" alt="LOGO MAXIWIFI"><br>
            <p>Documento</p>
            <input type="number" id="redirijir" placeholder="Ingrese su documento"><br>
            <p>Contraseña</p>
            <input type="password" placeholder="Ingrese su contraseña"><br><br>
            <button onclick="ingresar()" type="button" class="ingresar">Ingresar</button>
            <br><br>
        </form>
    </div>
    <script>
        function ingresar() {
            redirijir = document.getElementById("redirijir");
            if (redirijir.value == 1) {
                location.href = "home";
            } else if (redirijir.value == 2) {
                location.href = "home_cliente";
            } else {
                alert('ingrese algo valido');
            }
        }
    </script>
</body>

</html>