<div class="contenedor_asignar_herramienta">
    <div class="div_predeterminadas_asignar_herramienta">
        <button class="btn_predeterminadas_asignar_herramienta">Asignar Herramientas predeterminadas</button>
        <button class="btn_predeterminadas_asignar_herramienta">Editar herramientas predeterminadas</button>
    </div>
    <img src="../views/unnamed.png" alt="" class="logo_asignar_herramienta">
    <p class="p_asignar_herramienta">Realizar préstamo a empleado</p>
    <center>
        <div class="div1_asignar_herramienta">
            <h4 class="h4_nom_empleado_asignar_herramienta">Nombre empleado</h4>
            <select name="" id="" class="select_nom_empleado_asignar_herramienta">
                <option value="exelente">Juan Pablo Franco Faria</option>
                <option value="buena">David Felipe Diosa Lora</option>
                <option value="mala">Jhonatan David Castro Muñoz</option>
                <option value="para_reparacion">Katerine Franco Faria</option>
            </select>
        </div>
        <div class="div1_asignar_herramienta">
            <h4 class="h4_nom_empleado_asignar_herramienta">Tipo de herramienta</h4>
            <select name="" id="" class="select_nom_empleado_asignar_herramienta">
                <option value="manual">Manual</option>
                <option value="automatica">Automatica</option>
                <option value="electrica">Electrica</option>
                <option value="semi_automatica">Semi-automatica</option>
            </select>
        </div>
        <div class="div1_asignar_herramienta">
            <h4 class="h4_nom_empleado_asignar_herramienta">Nombre de la herramienta</h4>
            <select name="" id="" class="select_nom_empleado_asignar_herramienta">
                <option value="ponchadora">Ponchadora</option>
                <option value="alicate">Alicate</option>
                <option value="martillo">Martillo</option>
                <option value="destornillador">Destornillador</option>
            </select>
        </div>
        <div class="div1_asignar_herramienta">
            <h4 class="h4_nom_empleado_asignar_herramienta">Estado de herramienta</h4>
            <select name="" id="" class="select_nom_empleado_asignar_herramienta">
                <option value="exelente">Exelente</option>
                <option value="buena">Buena</option>
                <option value="mala">Mala</option>
                <option value="para_reparacion">Para reparación</option>
            </select>
        </div>
    </center>

    <table class="table_asignar_herramienta">

        <tr>

            <th class="th_asignar_herramienta">Herramienta</th>

            <th class="th_asignar_herramienta">Cantidad</th>

            <th class="th_asignar_herramienta">Estado</th>

            <th class="th_asignar_herramienta">Opción</th>

        </tr>

        <tr>

            <td class="td_asignar_herramienta">Ponchadora</td>

            <td class="td_asignar_herramienta"><input class="input_asignar_herramienta" type="number" value="10">
            </td>

            <td class="td_asignar_herramienta"><input class="input_asignar_herramienta" type="text" value="Exelente"
                    readonly></td>

            <td class="td_asignar_herramienta"><button class="btn_asignar_asignar_herramienta">Asignar</button></td>

        </tr>

        <tr>

            <td class="td_asignar_herramienta">Destornillador</td>

            <td class="td_asignar_herramienta"><input class="input_asignar_herramienta" type="number" value="10">
            </td>

            <td class="td_asignar_herramienta"><input class="input_asignar_herramienta" type="text" value="Exelente"
                    readonly></td>

            <td class="td_asignar_herramienta"><button class="btn_no_asignar_asignar_herramienta">No asignar</button>
            </td>

        </tr>

    </table>

    <p class="p_asignar_herramienta">Herramientas asignadas:</p>
    <h4 class="h4_asignar_herramienta">Destornillador, </h4>
    <center>
        <button class="btn_prestar_asignar_herramienta">Prestar</button>
    </center>

</div>