<div class="contenedor_listar_prestamos">
    <img src="../views/unnamed.png" alt="" class="logo_listar_prestamos">
    <p class="p_listar_prestamos">Listado de prestamos</p>
    <h4 class="h4_listar_prestamos">Juan Pablo Franco Faria</h4>
    <table class="table_listar_prestamos">

        <tr>

            <th class="th_listar_prestamos">Herramienta</th>

            <th class="th_listar_prestamos">Cantidad</th>

            <th class="th_listar_prestamos">Estado</th>

        </tr>

        <tr>

            <td class="td_listar_prestamos">Ponchadora</td>

            <td class="td_listar_prestamos"><input class="input_listar_prestamos" type="number" value="10" readonly>
            </td>

            <td class="td_listar_prestamos">Exelente</td>

        </tr>

        <tr>

            <td class="td_listar_prestamos">Destornillador</td>

            <td class="td_listar_prestamos"><input class="input_listar_prestamos" type="number" value="10" readonly>
            </td>

            <td class="td_listar_prestamos">Buena</td>

        </tr>

    </table>

    <p class="p_listar_prestamos">Dañadas o para reparar tuyas:</p>

    <table class="table_listar_prestamos">

        <tr>

            <th class="th_listar_prestamos">Herramienta</th>

            <th class="th_listar_prestamos">Cantidad</th>

            <th class="th_listar_prestamos">Estado</th>

            <th class="th_listar_prestamos">Descripciòn</th>

            <th class="th_listar_prestamos">Opción</th>

        </tr>

        <tr>

            <td class="td_listar_prestamos">Ponchadora</td>

            <td class="td_listar_prestamos"><input class="input_listar_prestamos" type="number" value="10" readonly>
            </td>

            <td class="td_listar_prestamos"><select name="" id="" class="select_listar_prestamos" readonly>
                    <option value="exelente">Exelente</option>
                    <option value="buena">Buena</option>
                    <option value="mala">Mala</option>
                    <option value="para_reparacion">Para reparación</option>
                </select></td>

            <td class="td_listar_prestamos">La daño aposta</td>

            <td class="td_listar_prestamos"><button class="btn_reparar_listar_prestamos">Dañada</button></td>

        </tr>

        <tr>

            <td class="td_listar_prestamos">Destornillador</td>

            <td class="td_listar_prestamos"><input class="input_listar_prestamos" type="number" value="10" readonly>
            </td>

            <td class="td_listar_prestamos"><select name="" id="" class="select_listar_prestamos" readonly>
                    <option value="exelente">Exelente</option>
                    <option value="buena">Buena</option>
                    <option value="mala">Mala</option>
                    <option value="para_reparacion">Para reparación</option>
                </select></td>

            <td class="td_listar_prestamos">La daño aposta</td>

            <td class="td_listar_prestamos"><button class="btn_reparada_listar_prestamos">Reparada</button></td>

        </tr>

    </table>

</div>