<div class="contenedor_listar_roles">
    <a href="#"><button type="button" class="registrarRol">Añadir rol</button></a>
    <h1>Listar roles</h1>
    <div class="contenedor_listar_roles">
        <center>
            <table>
                <tr class="encabezado_tabla">
                    <td>ID rol</td>
                    <td>Nombre</td>
                    <td>Fecha creación</td>
                    <td>Permisos</td>
                    <td>Operaciones</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Administrador</td>
                    <td>3/11/2022</td>
                    <td>
                        <ul>
                            <li>Empleados</li>
                            <li>Roles</li>
                            <li>Novedades</li>
                        </ul>
                    </td>
                    <td class="operaciones"><a href="#"><img
                                src="../../views/icons/editar.png" alt=""></a> <img
                            src="../../views/icons/bandeja-de-entrada.png" alt=""></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Empleado</td>
                    <td>3/11/2022</td>
                    <td>
                        <ul>
                            <li>Prestamos</li>
                            <li>Servicios</li>
                            <li>Novedades</li>
                        </ul>
                    </td>
                    <td class="operaciones"><a href="#"><img
                                src="../../views/icons/editar.png" alt=""></a> <img
                            src="../../views/icons/bandeja-de-entrada.png" alt=""></td>
                </tr>
            </table>
        </center>
    </div>
</div>