<center class="caja_listar_novedad">

    <img src="../../assets/img/logo.png" alt="">
    <h1 class="titulo_listar_novedad">Mis novedades</h1>
    <table border="1px" color="gray" class="tabla_listar_novedad">
        <tr class="tr_lista_titulo_listar_novedad">
            <td class="td_lista_listar_novedad">Empleado</td>
            <td class="td_lista_listar_novedad">Fecha</td>
            <td class="td_lista_listar_novedad">Petición</td>
            <td class="td_lista_listar_novedad">Descripción</td>
            <td class="td_lista_listar_novedad">Desde el dia</td>
            <td class="td_lista_listar_novedad">Hasta el dia</td>
            <td class="td_lista_listar_novedad">Desde la hora</td>
            <td class="td_lista_listar_novedad">Hasta la hora</td>
            <td class="td_lista_listar_novedad">Estado</td>
            <td class="td_lista_listar_novedad">Operaciones</td>
        </tr>
        <tr class="tr_lista_listar_novedad">
            <td class="td_lista_listar_novedad">Fernando</td>
            <td class="td_lista_listar_novedad">24/5/2022: 23:21</td>
            <td class="td_lista_listar_novedad">Dia libre</td>
            <td class="td_lista_listar_novedad">Me dio gripa</td>
            <td class="td_lista_listar_novedad">12/4/2022</td>
            <td class="td_lista_listar_novedad">13/4/2022</td>
            <td class="td_lista_listar_novedad">No</td>
            <td class="td_lista_listar_novedad">No</td>
            <td class="td_lista_listar_novedad">Aceptado</td>
            <td class="td_lista_listar_novedad">
                <center>
                    <img src="https://images.moqups.com/repo/zqx90pTp7HoE3pi2AHKhBMVKdzg0W9cn/p_Yp9sCWbUILsyqRwAmjcJRh0lXWRpKXwo/njvLHhVmMHhN9JllNIPjvltsMT3tZHvU.png?Expires=1668362186&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=XijLecnY9x7JgKGUeeA~b5yQVqaqILeu9pWEyxQrBA6ar~L1tqObogWaF16dgeapIoJZdy9JvaO280qUqkbM~23LvMbY-iYZ17XBDg5N52hWG2JwMWQYD7O9akjH4s-5W~GLFJytD4QZsNb~Cey-44LCiWihR9T~yUkDP9V9VW3OCVhFf7B8iyr7xxQ0Bvz2ytkqChBgSwbEbIjyfjmur5yReHyb276RssoZex-NaZQpyRIz48sjBy8NECPdQWga6Cu5L7kcucVSCe6FKEQGtRYQQbDBxbL~pQufuS4aAVax0-fA1tkdUuVd16A6wIRdoaAFw4MWNN7THwh7-bGKgw__"
                        class="icono_lista_listar_novedad2" alt="">
                    &nbsp;&nbsp;
                    <img src="https://images.moqups.com/repo/zqx90pTp7HoE3pi2AHKhBMVKdzg0W9cn/p_Yp9sCWbUILsyqRwAmjcJRh0lXWRpKXwo/R8qTG3zUdqBXGUG90axNqxen8NmHHe4F.png?Expires=1668362186&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=UTJ8siE5RyKoIIlDL0-xCvk9wSXgL79RWQmWV5sy~cGxsHXgLRicxsgxFTiZIF-kvkkX8-ENbjXhGK3-xe8qop3NPkrtSBSF5uM7On8gTH4QQM20XUeH3-ym3FiMB-H-iBd-9DDxFjMAbBVSjnvhCtDixrgX24gdNvYvEf9VjGtwIPbSqS80a5ATqcWdJ9wl~eBrSLjiKglUqT3x7-EjRulB6dGzqvplSy1ktd63M-wZLleTROaQiI3gSstF16gb5Dhl9Q80adqijpGYhZSEk982CaT07N9E-m34vc5yfmkYzQU7UHqOHR4oxnMo-TY5f6Bwt5~N5RO2iq9EsEqNVg__"
                        class="icono_lista_listar_novedad1" alt="">
                </center>
            </td>
        </tr>
    </table>
</center>