<center>
    <form action="" class="lista_master_herramienta">
        <h2>LISTA DE HERRAMIENTAS E INSUMOS</h2>
        <table class="table_master_herramienta">
            <tr class="encabezado_master_herramienta">
                <th class="space_master_herramienta">Nombre</th>
                <th class="space_master_herramienta">Tipo</th>
                <th class="space_master_herramienta">categoria</th>
                <th class="space_master_herramienta">Color</th>
                <th class="space_master_herramienta">Estado</th>
                <th class="space_master_herramienta">Descripción</th>
                <th class="space_master_herramienta">Cantidad</th>
                <th class="space_master_herramienta">Fecha</th>
                <th class="space_master_herramienta">Total</th>
                <th class="space_master_herramienta">Operaciones</th>

            </tr>
            <tr>
                <td class="space_master_herramienta">Martillo</td>
                <td class="space_master_herramienta">herramienta</td>
                <td class="space_master_herramienta">Manual</td>
                <td class="space_master_herramienta">Negro</td>
                <td class="space_master_herramienta">Bueno</td>
                <td class="space_master_herramienta">Sirve para martillar</td>
                <td class="space_master_herramienta">6</td>
                <td class="space_master_herramienta">11/10/2022</td>
                <td class="space_master_herramienta">20</td>
                <td class="space_master_herramienta">
                    <center><img class="modificar_master_herramienta"
                            src="https://images.moqups.com/repo/zqx90pTp7HoE3pi2AHKhBMVKdzg0W9cn/p_Yp9sCWbUILsyqRwAmjcJRh0lXWRpKXwo/BZcMaiHevG4I9vr3fpFjTdHesUavTiNV.png?Expires=1668455820&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=EQAif3587i5r39gNvG9blma8~nScfMDCIrLL1ALosErAnqQ7-VN8moRcVLLie6bSlA27E6ukK5VNRK~cA~K-HKmok20yrgNRdqBnAHMrvGiLiS~o07WcyA~endH1lyeE4~B6Yp5v-FUAGZBvUWKkheCWG6q1ZemSHHuRzlPKRwibmcKNIxcZR29V1diqdO6p8EJ2l-6DC4~pSPKQt6juO5aHxYjkhgALzbUFWPuazl7KW1Hc3zL9wZHSvXcbk5zeLSLgSQ1lqZGMo9tsOf~A7Bg9oPGMiovpsnvlY7RJKT~Kry9iOtVQLKy0-aP8ax6fWt-qeYFGUyBUHUMuTHse4Q__"
                            alt=""></center>
                </td>

            </tr>

            <tr>
                <td class="space_master_herramienta">Taladro</td>
                <td class="space_master_herramienta">herramienta</td>
                <td class="space_master_herramienta">Manual</td>
                <td class="space_master_herramienta">Negro</td>
                <td class="space_master_herramienta">Bueno</td>
                <td class="space_master_herramienta">Sirve para taladrar</td>
                <td class="space_master_herramienta">12</td>
                <td class="space_master_herramienta">11/10/2022</td>
                <td class="space_master_herramienta">15</td>
                <td class="space_master_herramienta">
                    <center><img class="modificar_master_herramienta"
                            src="https://images.moqups.com/repo/zqx90pTp7HoE3pi2AHKhBMVKdzg0W9cn/p_Yp9sCWbUILsyqRwAmjcJRh0lXWRpKXwo/BZcMaiHevG4I9vr3fpFjTdHesUavTiNV.png?Expires=1668455820&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=EQAif3587i5r39gNvG9blma8~nScfMDCIrLL1ALosErAnqQ7-VN8moRcVLLie6bSlA27E6ukK5VNRK~cA~K-HKmok20yrgNRdqBnAHMrvGiLiS~o07WcyA~endH1lyeE4~B6Yp5v-FUAGZBvUWKkheCWG6q1ZemSHHuRzlPKRwibmcKNIxcZR29V1diqdO6p8EJ2l-6DC4~pSPKQt6juO5aHxYjkhgALzbUFWPuazl7KW1Hc3zL9wZHSvXcbk5zeLSLgSQ1lqZGMo9tsOf~A7Bg9oPGMiovpsnvlY7RJKT~Kry9iOtVQLKy0-aP8ax6fWt-qeYFGUyBUHUMuTHse4Q__"
                            alt=""></center>
                </td>

            </tr>

            <tr>
                <td class="space_master_herramienta">Clavos</td>
                <td class="space_master_herramienta">insumo</td>
                <td class="space_master_herramienta">Manual</td>
                <td class="space_master_herramienta">Grises</td>
                <td class="space_master_herramienta">Bueno</td>
                <td class="space_master_herramienta">Sirve para fijar</td>
                <td class="space_master_herramienta">600</td>
                <td class="space_master_herramienta">11/10/2022</td>
                <td class="space_master_herramienta">1500</td>
                <td class="space_master_herramienta">
                    <center><img class="modificar_master_herramienta"
                            src="https://images.moqups.com/repo/zqx90pTp7HoE3pi2AHKhBMVKdzg0W9cn/p_Yp9sCWbUILsyqRwAmjcJRh0lXWRpKXwo/BZcMaiHevG4I9vr3fpFjTdHesUavTiNV.png?Expires=1668455820&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=EQAif3587i5r39gNvG9blma8~nScfMDCIrLL1ALosErAnqQ7-VN8moRcVLLie6bSlA27E6ukK5VNRK~cA~K-HKmok20yrgNRdqBnAHMrvGiLiS~o07WcyA~endH1lyeE4~B6Yp5v-FUAGZBvUWKkheCWG6q1ZemSHHuRzlPKRwibmcKNIxcZR29V1diqdO6p8EJ2l-6DC4~pSPKQt6juO5aHxYjkhgALzbUFWPuazl7KW1Hc3zL9wZHSvXcbk5zeLSLgSQ1lqZGMo9tsOf~A7Bg9oPGMiovpsnvlY7RJKT~Kry9iOtVQLKy0-aP8ax6fWt-qeYFGUyBUHUMuTHse4Q__"
                            alt=""></center>
                </td>

            </tr>

        </table>

    </form>
</center>