<div class="contenedor_modificar_empleados">
    <table>
        <tr class="encabezado_tabla_modificar_roles">
            <td>Modificar empleado</td>
        </tr>
        <tr>
            <td>
                <label for="Nombre">Nombre</label><br>
                <input type="text" value="Administrador"><br><br>
                <label for="Apellido">Apellido</label><br>
                <input type="text" value="Durango"><br><br>
                <label for="Tipo de documento">Tipo de documento</label><br>
                <select name="" id="">
                    <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                    <option value="Tarjeta de identidad">Cedula de ciudadania</option>
                    <option value="Tarjeta de identidad">Cedula de extranjeria</option>
                </select><br><br>
                <label for="Documento">Documento</label><br>
                <input type="number" value="1035416596"><br><br>
                <label for="Telefono">Telefono</label><br>
                <input type="number" value="4488123"><br><br>
                <label for="Correo">Correo</label><br>
                <input type="email" value="yennycarolina@gmail.com"><br><br>
                <label for="Contraseña">Contraseña</label><br>
                <input type="password" value="***********"><br><br>
                <div class="botones_modificar_empleado">
                    <button class="modificar">Modificar</button>
                    <button class="cancelar">Cancelar</button>
                </div>
            </td>


    </table>
</div>