<div class="contenedor_modificar_roles">
    <table>
        <tr class="encabezado_tabla_modificar_roles">
            <td>Modificar rol</td>
        </tr>
        <tr>
            <td>
                <label for="Nombre">Nombre</label><br>
                <input type="text" value="Administrador"><br><br>
                <label for="Fecha creacion">Fecha creación</label><br>
                <input type="date"><br><br>
                <center><label for="Permisos">Permisos</label></center>
                <ul><input type="radio">Roles</ul>
                <ul><input type="radio">Empleados</ul>
                <ul><input type="radio">Novedades</ul>
                <ul><input type="radio">Herramientas e insumos</ul>
                <ul><input type="radio">Movimientos</ul>
                <ul><input type="radio">Prestamos</ul>
                <ul><input type="radio">Servicios</ul>
                <ul><input type="radio">Agendamiento</ul>
                <div class="botones_modificar_roles">
                    <button class="modificar">Modificar</button>
                    <button class="cancelar">Cancelar</button>
                </div>
            </td>


    </table>
</div>