<center>
    <form action="" class="registrar_Servicios">

        <img src="../../views/img/unnamed.png" alt="">
        <br>
        <h2>Servicios</h2>
        <table>
            <div class="input_Servicios">
                <ul>
                    <label for="">Nombre del servicio</label>
                    <br><br>
                    <input type="text" class="inp_Servicios" id="nombre">
                    <br><br>
                     
                 </ul>
            </div>
            <button id="guardar" class="btn_registrar_Servicios" type="button" onclick="joas()">Guardar</button> <button
                id="calculo" class="cancelar_Servicios" type="button">Cancelar</button>
        </table>
    </form>
</center>