<center>
    <form action="" class="form_registrar_herramienta">

        <img src="../../views/img/unnamed.png" alt="">
        <br>
        <h3>Registro de Herramientas e Insumos</h3>
        <table class="table table-dark table-striped">
            <img src="" alt="">
            <div class="input_registrar_herramienta">
                <ul class="ul_registrar_herramienta">
                    <label class="label_registrar_herramienta" for="">Nombre</label>
                    <br>
                    <input type="text" id="nombre">
                    <br>
                    <label class="label_registrar_herramienta" for="">Color</label>
                    <br>
                    <input type="text" id="color">
                    <br>
                    <label class="label_registrar_herramienta" for="">Estado</label>
                    <br>
                    <input type="text" id="estado">
                </ul>
                <ul class="ul_registrar_herramienta">
                    <label class="label_registrar_herramienta" for="">Tipo</label>
                    <select name="" id="">
                        <option value="">algo</option>
                    </select>
                    <br>
                    <label class="label_registrar_herramienta" for="">Categoria</label>
                    <input type="text" id="tipo">
                    <br>
                    <label class="label_registrar_herramienta" for="">Descripcion</label>
                    <input type="text" id="descripcion">
                    <br>
                    <label class="label_registrar_herramienta" for="">Cantidad</label>
                    <input type="text" id="cantidad">
                </ul>
            </div>
            <button id="registrar" class="boton_aceptar_registrar_herramienta" type="button"
                onclick="calcularSubtotal()">Registrar</button> <button id="cancelar"
                class="boton_cancelar_registrar_herramienta" type="button" onclick="borrado()">Cancelar</button>
        </table>
    </form>
</center>